@import "bootstrap/functions";
@import "bootstrap/variables";
@import "slick";

@font-face {
	font-family: 'gotham_bookregular';
	src: url('../fonts/ufonts.com_gotham-book-webfont.woff2') format('woff2'),
			 url('../fonts/ufonts.com_gotham-book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gotham_boldregular';
	src: url('../fonts/gotham_bold_regular-webfont.woff2') format('woff2'),
			 url('../fonts/gotham_bold_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// @import "mmenu.all";
// @import "slick";

$netapp-gray: #636363;
$netapp-gray-hovered: #022057;
$netapp-blue: #3d84ff;

/**UTILITIES**/
img{
	max-width: 100%;
}
body{
	background: #f6f6f6;
}
a:hover {
	text-decoration: none;
}

// start top menu mini section
.top-menu-mini-section {
	background: #fff;
	border-bottom: 1px solid #ececec;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6875em;
	font-weight: bold;
	.nav {
		a {
			color: $netapp-gray;
		}
	}
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe,
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
//** END UTITLITIES

// end top menu mini section

// start top main section
.top-menu-section{
	font-size: .8125em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	.navbar {
		background-color: #fff;
		padding-top: 0;
		padding-bottom: 0;
	}
	.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
	}
	.nav {
		a {
			color: $netapp-gray;
			&:hover,
			&:active {
				color: $netapp-gray-hovered;
			}
		}
	}
	.right-nav {
		.nav {
			border-right: 1px solid #ececec;
			text-transform: uppercase;
			a {
				color: $netapp-blue;
			}
		}
	}
}
// end top main section

// start masthead carousel
#carouselMasthead {
	.carousel-item {
		height: 600px;
		.container {
			height: 100%;
		}
		.content {
			width: 33.33%;
			font-size: 0.9375rem;
			h2 {
				font-size: 2.1875rem;
				font-family: 'gotham_boldregular', 'Open Sans', sans-serif;
				text-transform: uppercase;
				span {
					font-size: 0.57142857em;
					display: block;
					font-family: 'gotham_bookregular', 'Open Sans', sans-serif;

				}
			}
		}
		&.carousel-item-1 {
			background: rgba(246,246,246,1);
			background: -moz-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,102,197,1) 50%, rgba(0,102,197,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,246,1)), color-stop(50%, rgba(246,246,246,1)), color-stop(50%, rgba(0,102,197,1)), color-stop(100%, rgba(0,102,197,1)));
			background: -webkit-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,102,197,1) 50%, rgba(0,102,197,1) 100%);
			background: -o-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,102,197,1) 50%, rgba(0,102,197,1) 100%);
			background: -ms-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,102,197,1) 50%, rgba(0,102,197,1) 100%);
			background: linear-gradient(to right, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,102,197,1) 50%, rgba(0,102,197,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#0066c5', GradientType=1 );

			.d-flex {
				align-items: center;
				justify-content: center;	
				height: 100%;
			}
			.content-1 {
				color: #0067c5;
				align-self: flex-start;
				padding-top: 120px;
			}
			.image {
				width: 33%;	
			}
			.content-2 {
				color: #fff;
				align-self: flex-end;
				padding-bottom: 60px;
			}
		}
		&.carousel-item-2 {
			background: rgba(246,246,246,1);
			background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,122,51,1) 50%, rgba(0,122,51,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(50%, rgba(246,246,246,1)), color-stop(50%, rgba(0,122,51,1)), color-stop(100%, rgba(0,122,51,1)));
			background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,122,51,1) 50%, rgba(0,122,51,1) 100%);
			background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,122,51,1) 50%, rgba(0,122,51,1) 100%);
			background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,122,51,1) 50%, rgba(0,122,51,1) 100%);
			background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(0,122,51,1) 50%, rgba(0,122,51,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#007a33', GradientType=0 );

			.d-flex {
				align-items: center;
				justify-content: center;	
				height: 100%;
			}
			.content-1 {
				color: #007a33;
				align-self: flex-start;
				padding-top: 120px;
			}
			.image {
				width: 33%;	
			}
			.content-2 {
				color: #fff;
				align-self: flex-end;
				padding-bottom: 60px;
			}
		}
		&.carousel-item-3 {
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,246,1)), color-stop(50%, rgba(246,246,246,1)), color-stop(50%, rgba(122,75,169,1)), color-stop(100%, rgba(122,75,169,1)));
			background: -webkit-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(122,75,169,1) 50%, rgba(122,75,169,1) 100%);
			background: -o-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(122,75,169,1) 50%, rgba(122,75,169,1) 100%);
			background: -ms-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(122,75,169,1) 50%, rgba(122,75,169,1) 100%);
			background: linear-gradient(to right, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 50%, rgba(122,75,169,1) 50%, rgba(122,75,169,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#7a4ba9', GradientType=1 );

			.d-flex {
				align-items: center;
				justify-content: center;	
				height: 100%;
			}
			.content-1 {
				color: #7a4ba9;
				align-self: flex-start;
				padding-top: 120px;
			}
			.image {
				width: 33%;	
			}
			.content-2 {
				color: #fff;
				align-self: flex-end;
				padding-bottom: 60px;
			}

		}
	}
}
// end masthead carousel

// start sticky navbar
.sticky-navbar-section {
	background-color: #fff;
	border-bottom: 8px solid #afafaf;
	&.affix {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
}
.nav-slider {
	position: relative;	
	.nav {
		justify-content: space-between;
		align-items: center;
		a:hover {
			color: $blue !important;
		}
		li > a:not(.btn-outline-primary) {
			padding-top: 1.75rem;
			padding-bottom: 1.75rem;
			color: #000;
			font-weight: bold;
		}
		.btn-outline-primary {
			font-weight: bold;
		}
		.dropdown-menu {
			min-width: 20rem;
			a {
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}
// end sticky navbar

// start about section
.section-about {
	background: #fff;
	padding: 115px 0;
	h1 {
		font-size: 2.6rem;
	}
	.row {
		align-items: center;
	}
	.video {
		margin-right: 60px;
	}
	.content {
		margin-left: 60px;
	}
}
// end about section

// start ontap cloud feature
.section-feature{
	padding: 125px 0;
	h1 {
		font-family: 'gotham_boldregular', 'gotham_bookregular', 'Open Sans', sans-serif;
		font-size: 2.1875rem;
		text-transform: uppercase;
	}
	h2 {
		font-size: 1.5625rem;
	}
	.feature {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
}
// end ontap cloud feature

// start advantages section
.section-advantages {
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(50%, $blue), color-stop(100%, $blue));
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, $blue 50%, $blue 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, $blue 50%, $blue 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, $blue 50%, $blue 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, $blue 50%, $blue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#7a4ba9', GradientType=1 );
	padding: 147px 0;

	position: relative;
	&::after {
		content: ' ';
		width: 100%;
		height: 9px;
		top:-9px;
		position: absolute;
		background: -webkit-gradient(left top, right top, color-stop(0%, $blue), color-stop(50%, $blue), color-stop(50%, #fff), color-stop(100%, #fff));
		background: -webkit-linear-gradient(left, $blue 0%, $blue 50%, #fff 50%, #fff 100%);
		background: -o-linear-gradient(left, $blue 0%, $blue 50%, #fff 50%, #fff 100%);
		background: -ms-linear-gradient(left, $blue 0%, $blue 50%, #fff 50%, #fff 100%);
		background: linear-gradient(to right, $blue 0%, $blue 50%, #fff 50%, #fff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#7a4ba9', GradientType=1 );
	}

	h1 {
		color: $blue;
		font-family: 'gotham_boldregular', 'gotham_bookregular', 'Open Sans', sans-serif;
		text-transform: uppercase;
		line-height: 1;
		font-size: 2.3rem;
		margin-bottom: 7rem;
	}

	h2 {
		font-size: 1.6rem;
	}
	.box:first-child {
		text-align: left;
		padding-right: 160px;
	}
	.box:last-child {
		text-align: right;
		padding-left: 160px;
		color: #fff;
	}
}
// end advantages section

// start whitepaper section
.section-whitepaper {
	background: url(../template-images/bg-whitepaper.jpg) center no-repeat;
	background-size: cover;
	padding: 90px 0;
	.box {
		padding: 70px 50px;
		width: 50%;
		background-color: #fff;
		.head-section {
			margin-bottom: 2rem;
			h1 {
				font-size: 1.625rem;
				line-height: 1;
			}
			h2 {
				font-size: 1rem;
				line-height: 1;
				text-transform: uppercase;
				color: #969696;
				font-weight: bold;
			}
		}
	}
}
// end whitepaper section

// start webinar section
.section-webinar {
	background: #fff;
	padding: 90px 0;
	.row {
		align-items: center;
	}
	.video {
		margin-right: 60px;
	}
	.content {
		margin-left: 60px;
	}
	h1 {
		font-size: 2.6875rem;
	}
}
// end webinar section

// start resource section
.section-resource {
	padding-top: 160px;
	padding-bottom: 57px;
	.container {
		background: #fff;
		border-bottom: 10px solid $blue;
	}
	.col-sm:first-child {
		padding-left: 0;
	}
	.content {
		padding: 90px 90px;
		h2 {
			margin: 0;
			font-size: 1rem;
			text-transform: uppercase;
			color: #969696;
		}
		h1 {
			font-size: 1.75rem;
		}
	}	
}
// end resource section


// start section-whitepaper-solution
.section-whitepaper-solution {
	.whitepaper,
	.solution {
		height: 100%;
	}
	.col-sm:first-child {
		padding-left: 0;
	}
	.col-sm:last-child {
		padding-right: 0;
	}
	.card {
		height: 100%;
		padding: 0;
		border-bottom: 10px solid $blue;
		.card-header {
			background: transparent;
			border-bottom: none;
			padding: 0;
			h6 {
				text-transform: uppercase;
				font-size: 1rem;
				font-weight: normal;
				color: #969696;
				line-height: 1;
			}
			.card-title {
				font-size: 1.75rem;
				font-weight: normal;
			}
		}
		.card-body {
			padding: 40px 50px;
		}
	}
}
// end section-whitepaper-solution
.section-case-studies {
	padding-top:90px;
	display: flex;

	h1 {
		margin-bottom: 40px;
	}
	.multiple-items-carousel {
		> div {
			height: 100%;
			// padding: 18px;
		}
	}
	.slick-slide {
		// padding: 18px;
		margin-right: 20px;
		margin-left: 20px;
	}
	.slick-track{
		display: flex;
		.slick-slide{
				display: flex;
				height: auto;
				align-items: center; //optional
				justify-content: center; //optional
		}
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		&.slick-prev {
			left: -20px;
		}
		&.slick-next {
			right: -20px;
		}
	}
	.card {
		height: 100%;
		padding: 0;
		border-bottom: 10px solid $blue;
		.card-header {
			background: transparent;
			border-bottom: none;
			padding: 0;
			h6 {
				text-transform: uppercase;
				font-size: 1rem;
				font-weight: normal;
				color: #969696;
				line-height: 1;
			}
			.card-title {
				font-size: 1.75rem;
				font-weight: normal;
			}
		}
		.card-body {
			padding: 35px 30px;
		}
	}
}
// start case studies carousel

// start section-free-trial
.section-free-trial {
	background: url(../template-images/bg-freetrial.jpg) center no-repeat;
	background-size: cover;
	margin-top: 140px;
	padding: 90px 0;
	.container {
		display: flex;
		justify-content: flex-end;
	}
	.box {
		padding: 70px 50px;
		width: 50%;
		background-color: #fff;
		.head-section {
			margin-bottom: 2rem;
			h1 {
				font-size: 1.625rem;
				line-height: 1;
			}
			h2 {
				font-size: 1rem;
				line-height: 1;
				text-transform: uppercase;
				color: #969696;
				font-weight: bold;
			}
		}
	}
}
// end section-free-trial

// start section-bottom
.section-bottom {
	padding: 65px 0;
	.box {
		padding: 0 120px;
		h5 {
			font-size: 1.75rem;
		}
	}
}
// end section-bottom

// start footer
footer {
	background-color: #444956;
	font-size: .75rem;
	color: #fff;
	padding: 26px 0;
	a {
		color: #fff;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		display: inline-block;
	}
	.d-flex {
		justify-content: space-between;
	}
}
// end footer 

// whitepaper modal
#whitepaperModal {
	.modal-dialog {
		max-width: 90% !important;
	}
	.col-sm {
		padding-left: 0;
		padding-right: 0;
	}
	.content {
		padding: 100px 60px;
	}
	.content-1 {
		height: 100%;
		background: $blue;
		color: #fff;
		padding-right: 200px;
		h5{
			text-transform: uppercase;
			font-size: 1rem;
			line-height: 1;
		}
		h1 {
			font-size: 2.1875rem;
			line-height: 1;
			margin-bottom: 1.5rem;
		}
		h3 {
			font-size: 1.375rem;
		}
	}
	.content-2 {
		.note {
			font-size: .8125rem;
			color: #353535;
		}
	}
}

.modal {
	.modal-content > .row {
		margin-left: 0;
		margin-right: 0;
	}
	form {
		.row {
			margin-bottom: 1rem;
		}
	}
	label {
		color: #1f1f1f;
		text-transform: uppercase;
		font-size: .8125rem;
	}
	.form-control {
		border-color: $blue;
	}

	.btn-rounded {
		border-radius: 100px;
		padding: 1rem 1.5rem;
		font-size: 1rem;
	}
}

// end whitepaper modal

// free trial modal
#freeTrialModal {
	.modal-dialog {
		max-width: 90% !important;
	}
	.col-sm {
		padding-left: 0;
		padding-right: 0;
	}
	.content {
		padding: 100px 60px;
	}
	.content-1 {
		height: 100%;
		background: url(../template-images/bg-freetrialmodal.jpg) center no-repeat $blue;
		background-size: cover;
		color: #fff;
		padding-right: 200px;
		h5{
			text-transform: uppercase;
			font-size: 1rem;
			line-height: 1;
		}
		h1 {
			font-size: 2.1875rem;
			line-height: 1;
			margin-bottom: 1.5rem;
		}
		h2 {
			font-size: 1.25rem;
			font-weight: bold;
			font-family: 'gotham_boldregular', 'Open Sans', sans-serif;
		}
		h3 {
			font-size: 1rem;
			font-family: 'gotham_boldregular', 'Open Sans', sans-serif;
			margin-bottom: 50px;
		}
		ul {
			padding-left: 20px;
		}
		small {
			font-size: 0.528125rem;
			line-height: .75;
		}
	}
	.content-2 {
		.note {
			font-size: .8125rem;
			color: #353535;
		}
	}
}

// end free trial modal