@import "bootstrap/functions";
@import "bootstrap/variables";

@font-face {
	font-family: 'gotham_bookregular';
	src: url('../fonts/ufonts.com_gotham-book-webfont.woff2') format('woff2'),
			 url('../fonts/ufonts.com_gotham-book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gotham_boldregular';
	src: url('../fonts/gotham_bold_regular-webfont.woff2') format('woff2'),
			 url('../fonts/gotham_bold_regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

// @import "mmenu.all";
// @import "slick";

$netapp-gray: #636363;
$netapp-gray-hovered: #022057;
$netapp-blue: #3d84ff;

/**UTILITIES**/
img{
	max-width: 100%;
}
body{
	background: #f6f6f6;
}

// start top menu mini section
.top-menu-mini-section {
	background: #fff;
	border-bottom: 1px solid #ececec;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6875em;
	font-weight: bold;
	.nav {
		a {
			color: $netapp-gray;
		}
	}
}
// end top menu mini section

// start top main section
.top-menu-section{
	font-size: .8125em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	.navbar {
		background-color: #fff;
		padding-top: 0;
		padding-bottom: 0;
	}
	.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
	}
	.nav {
		a {
			color: $netapp-gray;
			&:hover,
			&:active {
				color: $netapp-gray-hovered;
			}
		}
	}
	.right-nav {
		.nav {
			border-right: 1px solid #ececec;
			text-transform: uppercase;
			a {
				color: $netapp-blue;
			}
		}
	}
}
// end top main section